.container {
  margin-top: 200px;
}

#content-title {
  background-color: #006478;
  width: 1100px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: #57DCFF;
  border: 20px;
  margin: 0px;
  font-size: 28px;
}

table{
  width: 1100px;
  text-align: center;
  border-spacing: 8px;
  margin: 0px;
  margin-bottom: 30px;
}

th {
  background-color: #C1CDC4;
  color: #006478;
  padding: 5px 10px;
  border: 10px;
}

td{
  padding: 5px 10px;
}

.line1{
  background-color: #57DCFF;
}

.line2{
  background-color: #fff;
}

.btn-cadastrar{

  background-color: #57DCFF;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  margin: 450px;
  margin-top: 500px;
  color: #006478;

}

form{
  margin-left: 190px;
}

label, input, select {
  margin: 5px;
  border-color: #006478;
  color: #006478;
  font-weight: bold ;
  align-text: center;
}

input, select {
  margin-left: 30px;
  margin-right: 30px;
}