.container {
  margin-top: 200px;
}

#content-title {
  background-color: #006478;
  width: 1000px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: #57DCFF;
  border: 20px;
  margin: 0px;
  font-size: 28px;
}

table{
  width: 1000px;
  text-align: center;
  border-spacing: 8px;
}

th {
  background-color: #C1CDC4;
  color: #006478;
  padding: 5px 10px;
  border: 10px;
}

td{
  padding: 5px 10px;
}

.line1{
  background-color: #57DCFF;
}

.line2{
  background-color: #fff;
}